<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833571377199-taknalij8srur0gbgn21lgnj48r4ttmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833571377199-taknalij8srur0gbgn21lgnj48r4ttmj</string>
	<key>API_KEY</key>
	<string>AIzaSyBaOZ8WXjlSLILpwfaIYfOzHGUh2yKln0k</string>
	<key>GCM_SENDER_ID</key>
	<string>833571377199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.verdantip.verdantips</string>
	<key>PROJECT_ID</key>
	<string>verdantips-app</string>
	<key>STORAGE_BUCKET</key>
	<string>verdantips-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833571377199:ios:5bc2efab378687276ef6da</string>
	<key>DATABASE_URL</key>
	<string>https://verdantips-app.firebaseio.com</string>
</dict>
</plist>